*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color: #7e7c7c;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}

.box{
    display: flex;
    justify-content: flex-start;
  
    height: 100vh;
    background-color: #f0f0f0;
    height : 600px;
    width: 600px;
}
.box1{

    background-color: white;
    width: 300px;
    height: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}
.box2{

    padding: 40px;
    text-align: center;
    width: 300px;
    height: 600px;
    background-color: rgb(10, 142, 230);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(242, 246, 241);
}

.content{
    margin-top: 30px;
}
.heading{
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
}
.sl{
    margin-top: 30px;
    background-color: rgba(230, 226, 226, 0.284);
    border-radius: 10px;
    width: 100%;
    height: 50px;
    text-align: center;
    padding-top: 5px;
    text-decoration: solid white;
}
.loginbox{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: 600;
    margin-top: 20px;

}
.inputbox{
   font-weight: 500;
   margin-bottom: 10px;
   margin: 8px;
}
.l1{
    margin-bottom: 5px;
}
.forget{
    text-align: right;
    margin-bottom: 5px;
    font-size: 14px;
    color: blue;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-top: 10px;
}

input[type="text"], input[type="password"]{
    width: 90%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 16px;
}  

.btn{
    margin-top: 10px;
    height: 30px;
    width: 90px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    background-color: rgb(55, 172, 251);
    display: flex;
    justify-content: center;
    padding: 5px;
    margin-top: 10px;
    color: white;

}
 

