* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222;
}

/* Grid container */
.board {
    width: 750px;
    height: 380px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    background-color: rgb(27, 2, 30);
}

/* LEFT tall green */
.a {
    grid-column: 1;
    grid-row: 1 / span 3;
    background: #6bbf59;
}

/* TOP wide green */
.b {
    grid-column: 2 / span 2;
    grid-row: 1;
    background: #6bbf59;
}

/* TOP right red (small) */
.c {
    grid-column: 4;
    grid-row: 1;
    background: #e74c3c;
}

/* MIDDLE LEFT yellow */
.d {
    grid-column: 2;
    grid-row: 2;
    background: #f4b942;
}

/* MIDDLE CENTER red */
.e {
    grid-column: 3;
    grid-row: 2;
    background: #e74c3c;
}

/* BOTTOM LEFT red */
.f {
    grid-column: 2;
    grid-row: 3;
    background: #e74c3c;
}

/* BOTTOM CENTER yellow */
.g {
    grid-column: 3;
    grid-row: 3;
    background: #f4b942;
}

/* RIGHT green (spans only 2 rows) */
.h {
    grid-column: 4;
    grid-row: 2 / span 2;
    background: #6bbf59;
}
