*{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

body{
    background-color: black;
}

.main{
    background-color: rgba(247, 247, 9, 0.848);
    width: 300px;
    height: 200px;
    position: relative;
}

.box1{
    background-color: rgb(0, 106, 255);
    width: 85px;
    height: 85px;
    position: absolute;
    left: 0px;
    top: 0;

}
.box3{
    background-color: rgb(0, 106, 255);
    width: 85px;
    height: 85px;
    position: absolute;
    left: 0px;
    bottom: 0;  
}
.box2{
    background-color: rgb(0, 106, 255);
    width: 185px;
    height: 85px;
    position: absolute;

    bottom: 0px;
    right: 0px;
}
.box4{
    background-color: rgb(0, 106, 255);
    width: 185px;
    height: 85px;
    position: absolute;

    top: 0%;
    right: 0px;
}