*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #444343df;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 10px;
}
.board{
    width: 600px;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    background-color: cadetblue;
   
}
.box{
    border: 2px solid black;
    background-color: rgb(193, 8, 244);
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.first{
    grid-column: 1 / span 3;
}
.second{
    grid-row: 2 / span 2;
}
.third{
    grid-column: 2 / span 2;
}
.sixth{
    grid-column: 1 / span 3;

}