
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
#rect{

    width: 300px;
    height: 200px;
    background-color: white;
    position: relative;
}
#circle{
    width: 120px;
    height: 120px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}