*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #444343df;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 10px;
}
.board{
    width: 600px;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
}
.white{
    background-color: #f0d9b5;
}
.black{
    background-color: #090909;
}